################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TicTacToe/FileContentIndex
/.vs/TicTacToe/FileContentIndex/01587c19-1a8a-416d-955e-cedccfef6671.vsidx
/.vs/TicTacToe/FileContentIndex/01587c19-1a8a-416d-955e-cedccfef6671.vsidx
